/* Adjustment for Firefox Version < 4 Windows */

/* browser compatibility update */
/********************************/

.content .publication_info table th.first { width: 15em; }

/* fixing width of left column with inputfields on resultlist */
.generic_resultlist_left div.block div.date_search { width: 192px; }


/* funddata stuff */
/******************/

/* fixed resultlist tabs */
.funddata_resultlist_tabs ul li { border-bottom: 3px solid #333 !important; bottom: -3px !important; }

/* little design correction for search field on top of funddata */
.content div.funddata_top_search p.ext_search_link { margin: 2.7em 0 0 1.8em; }

/* green box with help link in process-chooser on startpage */
.eb .startpage .process_ebanz .pub .pubhelp_link p {
    width: 30em;
}
/* fix size of questionmark in green box with help link in process-chooser on startpage */
.eb .startpage .process_ebanz .pub .pubhelp_link p {
    line-height: 2.2em;
}

/* fix link with green questionmark */
.eb .startpage .process_ebanz .pub .pubhelp_link {
  margin-top: 4.4em;
  width: 29.5em;
}
